<launch>

  <!-- args -->
  <arg name="bag_path" default="/home/andre/Downloads/2019-09-03-16-15-15.bag"/>

  <!-- nodes -->
  <node pkg="rosbag" type="play" name="darknet_bag" args="$(arg bag_path)"/>  
  <node pkg="odometer" type="odometer_node" name="odometer" output="screen">
    <param name="img_width"  value="1292"/>
    <param name="img_height" value="964"/>
    <param name="grid_resolution" value="10"/>
  </node>

</launch>
