<launch>
    <!-- clock -->
    <param name="/use_sim_time" value="true"/>

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find vineslam_ros)/param/config.rviz" required="false"/>

    <!-- agrob_map_transform gps node -->
    <node pkg="agrob_map_transform" type="agrob_gnss_transform_node" name="agrob_gnss_transform_node"
          clear_params="true">
        <rosparam command="load" file="$(find agrob_map_transform)/params/navsat_transform_template.yaml"/>

        <remap from="imu/data" to="/Dummy/IMU"/>
        <remap from="odometry/filtered" to="/vineslam/odom"/>
        <remap from="gps/fix" to="/fix"/>
    </node>

    <!-- replay node -->
    <arg name="bagfile_name" default="/home/andreaguiar/Source/catkin_ws_agro_nav_tests/src/agro_nav_tests/bag_files/clean_tomates_2020-08-06-11-23-35.bag"/>
    <node pkg="vineslam_ros" type="replay_node" name="replay_node" output="screen">
        <rosparam command="load" subst_value="True" file="$(find vineslam_ros)/param/setup.yaml"/>
    </node>

    <!-- Coral edgetpu trunk detection node -->
    <node pkg="detector" type="detector_node" name="detector">
        <param name="image_left" value="/zed/zed_node/left/image_rect_color"/>
        <param name="image_depth" value="/zed/zed_node/depth/depth_registered"/>

        <param name="model_path" value="$(find edgetpu_cpp)/model/output_tflite_graph_edgetpu.tflite"/>
        <param name="labels_path" value="$(find edgetpu_cpp)/model/labels.txt"/>
    </node>

</launch>
