<launch>
    <param name="/use_sim_time" value="true"/>

    <arg name="depth_image_topic" default="/zed/zed_node/depth/depth_registered" />
    <arg name="compressed_image_topic" default="/zed/zed_node/left/image" />
    <arg name="image_topic" default="/image_raw" />

    <!-- republish -->
    <node name="republish" type="republish" pkg="image_transport" args="compressed in:=$(arg compressed_image_topic) raw out:=$(arg image_topic)" />

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find vineslam_ros)/param/config.rviz" required="false"/>

    <!-- agrob_map_transform gps node -->
    <node pkg="agrob_map_transform" type="agrob_gnss_transform_node" name="agrob_gnss_transform_node"
          clear_params="true">
        <rosparam command="load" file="$(find agrob_map_transform)/params/navsat_transform_template.yaml"/>

        <remap from="imu/data" to="/Dummy/IMU"/>
        <remap from="odometry/filtered" to="/vineslam/odom"/>
        <remap from="gps/fix" to="/fix"/>
    </node>

    <!-- slam node -->
    <node pkg="vineslam_ros" type="slam_node" name="slam_node" output="screen">
        <rosparam command="load" subst_value="True" file="$(find vineslam_ros)/param/setup_slam.yaml"/>
    </node>

    <!-- image feature node -->
    <include file="$(find vfe)/launch/run.launch" pass_all_args="true"/>

    <!-- tpu object detection node -->
    <arg name="model" default="$(find object_detection)/models/mv1/edgetpu_cpp_model_output_tflite_graph_edgetpu.tflite"/>
    <arg name="label" default="$(find object_detection)/models/mv1/edgetpu_cpp_model_labels.txt"/>
    <node pkg="object_detection" type="run_inference.py" name="run_inference_model">
        <param name="model_file" value="$(arg model)"/>
        <param name="labels_file" value="$(arg label)"/>
        <param name="image_topic" value="$(arg image_topic)"/>
        <param name="depth_topic" value="$(arg depth_image_topic)"/>
    </node>

</launch>
