<launch>
  <!-- clock -->
  <param name ="/use_sim_time" value="true"/>

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find vineslam)/config/config.rviz" required="false"/>

  <!-- image republish -->
  <node name="republish1" type="republish" pkg="image_transport" output="screen"
    args="compressed in:=/zed/zed_node/left/image out:=/zed/zed_node/left/image_rect_color" />
  <node name="republish2" type="republish" pkg="image_transport" output="screen"
    args="compressed in:=/zed/zed_node/right/image out:=/zed/zed_node/right/image_rect_color" />

  <!-- slam node -->
  <node pkg="vineslam_ros" type="vineslam_ros" name="vineslam_ros" output="screen">
    <remap from="/left_image"  to="/zed/zed_node/left/image_rect_color"/>
    <remap from="/depth_image" to="/zed/zed_node/depth/depth_registered" />
    <remap from="/detections" to="detections" />
    <remap from="/odom" to="/husky_velocity_controller/odom" />

    <param name="/SLAMNode/config_path" value="$(find vineslam)/config/setup.yaml" />
  </node>

  <node pkg="detector" type="detector_node" name="detector" output="screen">
    <param name="image_left"  value="/zed/zed_node/left/image_rect_color"/>
    <param name="image_depth" value="/zed/zed_node/depth/depth_registered"/>

    <param name="model_path"  value="$(find edgetpu_cpp)/model/output_tflite_graph_edgetpu.tflite"/>
    <param name="labels_path" value="$(find edgetpu_cpp)/model/labels.txt"/>
  </node>

  <!-- transforms -->
<!--   <node pkg="tf" type="static_transform_publisher" name="odom_to_map" args="+44.24 -5.78 0 0 0 -->
<!--     0 1  /map /odom 10" /> -->
  <node pkg="tf" type="static_transform_publisher" name="odom_to_map" args="-10.18 -104.55 0 0 0
    0 1  /map /odom 10" />
  <!-- <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="+67.34 -10.26 0 0 0
    0 1  /map /odom 10" /> -->
  <node pkg="tf" type="static_transform_publisher" name="odom_to_base" args="0 0 0 0 0
    0 1  /odom /base_link 10" />

</launch>
