<launch>
  <!-- clock -->
  <param name ="/use_sim_time" value="true"/>

  <node pkg="tf" type="static_transform_publisher" name="gps_init_to_baselink"  args="0 0 0 0 0 0 /base_link /gps  10" />


  <node pkg="agrob_map_transform" type="agrob_gnss_transform_node" name="agrob_gnss_transform_node" clear_params="true"  output="screen"> <!--output="screen"-->

    <rosparam command="load" file="$(find agrob_map_transform)/params/pf_datum.yaml" />
      <!-- Placeholders for input remapping. Set your topic names as the "to" values.-->
      <remap from="imu/data" to="/Dummy/IMU"/>
      <remap from="odometry/filtered" to="/husky_velocity_controller/odom"/>  <!-- We only use ODOM msgs in this node -->
      <remap from="gps/fix" to= "fix" />

  </node>



</launch>

